.home-shop{
    padding: 2rem 0;
}

.home-shop .home-shop-header {
    padding-bottom: 1rem;
}

.home-shop .home-shop-grid {
    padding-bottom: 2rem;
}

.home-installs .grid {
    margin-bottom: 2rem;
}
